
.wc-com-app- {
  &header {
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;

    &-title {
      @extend .wc-com-indie-flower;

      font-weight: 700;

      font-size: 2.8em;
    }

    &-text {
      @extend .wc-com-montserrat;

      font-weight: 400;

      font-size: 1.3em;
    }
  }
}