@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

@import 'app';
@import 'search';
@import 'about';
@import 'hiw';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0px;
}

body, input[text], button {
  color: rgb(84,84,84);
  font-family: Cambria, Georgia;
}

a {
  text-decoration: none;
  color: #3F5986;
  cursor: pointer;
}

::selection {
  background-color: #DBF2FF;
}

.wc-com- {
  &indie-flower {
    font-family: 'Indie Flower', sans-serif;
  }
  &montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  &colors-codes {
    &-good {
      color: #4DB411;
    }
    &-ok {
      color: #3F5986;
    }
    &-bad {
      color: #A02E25;
    }
    &-gray {
      color: #BDBDBD;
    }
  }

  &highlight- {
    &t1 {
      @extend .wc-com-indie-flower;
      background-color: #fff2a8;
    }
    &t2 {
      @extend .wc-com-indie-flower;
      background-color: #a8d1ff;
    }
    &t3 {
      @extend .wc-com-indie-flower;
      background-color: #ffb7b7;
    }
    &t4 {
      @extend .wc-com-indie-flower;
      background-color: #DEDEDE;
    }
    &t6 {
      @extend .wc-com-indie-flower;
      background-color: #DDEBD1;
    }
    &t7 {
      @extend .wc-com-indie-flower;
      background-color: #EBD2D1;
    }
    &t8 {
      @extend .wc-com-indie-flower;
      background-color: #DFD1EB;
    }
  }

  &ghost {
    visibility: hidden;
  }
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

// Kind of a master design
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

.button- {
  &selected {
    background-color: #00cc99 !important;
    color: white !important;
    font-weight: bold;
  }
  &selected-bad {
    background-color: #CC004A !important;
    color: whitesmoke !important;
    font-weight: bold;
  }
}

.msg- {
  &info {
    color: #0c8888;
    font-style: italic;
    font-size: 0.8em;
  }
}