
.wc-com-results- {
  &container {
    margin-top: 30px;
    padding-left: 5%;
    max-width: 720px;
  }

  &entry {
    padding: 0px;
    margin-bottom: 35px;
  }

  &link {
    text-decoration: none;

    &-source {
      color: #888;
      font-style: italic;
      font-size: 0.8em;
    }
  }
  &link:hover {
    text-decoration: underline;
  }

  &snippet {
    &-container {

    }
    &-line {
      padding-top: 4px;
      font-size: 0.9em;
    }
  }

  &pagination {
    margin-top: 50px;
    margin-bottom: 70px;

    font-size: 0.9em;

    &-text {
      font-weight: bold;
      font-size: 1em;
    }

    &-entry {
      display: inline-block;
      margin-left: 10px;

      &-link {
      }

      &-current {
        color: black;
      }
    }
  }

  &rating- {
    &container {
      margin-top: 8px;
      padding: 2px;
    }
  }
}