
.wc-com-results- {
  &container {
    margin-top: 15px;
    padding-left: 5%;
    max-width: 720px;
  }

  &entry {
    padding: 0px;
    margin-bottom: 35px;
  }

  &tab- {
    &container {
      width: 100%;

      margin-bottom: 30px;

      border-bottom: 1px dashed lightgray;
    }

    &link {
      color: dimgrey;
      display: inline-block;

      cursor: pointer;

      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &link-deactivated {
      cursor: default !important;
      color: dimgrey !important;
    }

    &link-deactivated:hover {
      cursor: default !important;
      color: dimgrey !important;
    }

    &link-selected {
      @extend .wc-com-colors-codes-ok;
      font-weight: bold;
    }

    &link:hover {
      color: black;
    }
  }

  &link {
    text-decoration: none;

    &-source {
      color: #888;
      font-style: italic;
      font-size: 0.8em;
    }
  }
  &link:hover {
    text-decoration: underline;
  }

  &snippet {
    &-container {

    }
    &-line {
      padding-top: 4px;
      font-size: 0.9em;
    }
  }

  &pagination {
    margin-top: 50px;
    margin-bottom: 25px;

    font-size: 0.9em;

    &-text {
      font-weight: bold;
      font-size: 1em;
    }

    &-entry {
      display: inline-block;
      margin-left: 10px;

      &-link {
      }

      &-current {
        color: black;
      }
    }
  }

  &rating- {
    &container {
      margin-top: 8px;
      padding: 2px;
    }
  }
}