wikichimp {
  workingDir = "???"
  spotlight {
    server {
      host = "???"
      port = ???
    }
  }
  wikipedia {
    links {
      mysql {
        ip = "???"
        port = ???
        database = "???"
        user = "???"
        password = "???"
      }
    }
  }
  resources {
    folder = "???"
    coursera {
      pages = "???"
      data = "???"
    }
    khan {
      pages = "???"
    }
    mit {
      pages = "???"
      data = "???"
    }
    safari {
      pages = "???"
    }
    scholarpedia {
      pages = "???"
      data = "???"
    }
  }
}