spray.can {
  server {
    server-header = ""
    parsing {
      max-content-length = 1k
    }
  }
}
wikichimp {
  workingDir = "???"
  spotlight {
    server {
      host = "???"
      port = ???
    }
  }
  wikipedia {
    links {
      mysql {
        ip = "???"
        port = ???
        database = "???"
        user = "???"
        password = "???"
      }
    }
  }
  indices {
    indexation {
      nbTasks = ???
    }
    import {
      slick {
        driver = "com.mysql.jdbc.Driver"
        url = "jdbc:mysql://"?ip?"/tocpic"

        databaseName = ???
        user = ???
        password = ???

        connectionPool = "slick.jdbc.hikaricp.HikariCPJdbcDataSource$"
        numThreads = 20
        queueSize = 10
        connectionTimeout = 10000

        keepAliveConnection = true
      }
    }
    ws {
      slick {
        driver = "com.mysql.jdbc.Driver"
        url = "jdbc:mysql://"?ip?"/tocpic"

        databaseName = ???
        user = ???
        password = ???

        connectionPool = "slick.jdbc.hikaricp.HikariCPJdbcDataSource$"
        numThreads = 20
        queueSize = 10
        connectionTimeout = 1500

        keepAliveConnection = true
      }
    }
  }
  autocomplete = {
    spray {
      ip = "???"
      port = ???
    }
    slick {
      driver = "com.mysql.jdbc.Driver"
      url = "jdbc:mysql://"?ip?"/tocpic"

      databaseName = ???
      user = ???
      password = ???

      connectionPool = "slick.jdbc.hikaricp.HikariCPJdbcDataSource$"
      numThreads = 20
      queueSize = 10
      connectionTimeout = 1000

      keepAliveConnection = true
    }
  }
  resources {
    folder = "???"
    coursera {
      pages = "???"
      data = "???"
    }
    khan {
      pages = "???"
    }
    mit {
      pages = "???"
      data = "???"
    }
    safari {
      pages = "???"
    }
    scholarpedia {
      pages = "???"
      data = "???"
    }
  }
}